*~
*.bak
*.spl
*.lock
*.sug

.venv
*.pyc
*.pyo

node_modules/

*.o
*.so

.vim/.netrwhist
.vim/temp
.vim/bundles

.zsh/.zsh_history*

scripts/z/.z
scripts/z/.z.*

.gitconfig.local
.claude/settings.local.json
